.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.App-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
}

.App-label input {
  width: 40em;

}